<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Identifiant</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.username}}</td>
        <td>{{user.identifiant}}</td>
        <td>{{user.email}}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="btn btn-danger">Supprimer</button>
          <button (click)="updateUser(user.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
          <button (click)="getUserById(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button [disabled]="user.active==1" (click)="Activate(user.id)" class="btn btn-success" style="margin-left: 10px">Activater</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button  class="btn btn-info" style="margin-left: 10px">Ajouter un utilisateur</button>
